<main class="p-5">
    {{#with navigation}}
    <div class="card">
        <nav class=" nav row">
            <div class="col-12">
                <h2 class="ps-3 pt-5">Shop</h2>
                <ul class=" nav justify-content-end">
                    <li class="d-flex pb-5">
                        {{#each links}}
                        <a href="{{href}}" class="nav-link active">{{text}}</a>
                        {{/each}}
                        <a class="disabled nav-link" href="#">Shophome</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{/with}}
    </div>

    <hr>
    <div class="row">
        {{#with newsBlock}}
        <h5 class="text-center">{{title}}</h5>

        {{#each cards}}
        <div class="col-3">
            <div class="card text-bg-info me-1 mb-3">
                <div class="card-header mx-2">
                    {{title}}

                    {{#if isTop}}
                    <button class="badge text-bg-primary rounded-pill"> Top </button>
                    {{/if}}
                    {{#if isNew}}
                    <button class="badge text-bg-primary rounded-pill"> New </button>
                    {{/if}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </div>
    <hr>


    <div class="row">
        {{#with goodsBlock}}
        {{#each tabs}}
        <div class="col-3">
            <div class="nav nav-tabs">
                <div class="nav-item">

                    {{#if isActive}}
                    <a href="#" class="nav-link active">{{text}}</a>

                    {{else}}
                    <a href="#" class="nav-link disabled">{{text}}</a>
                    {{/if}}

                </div>
            </div>
        </div>
        {{/each}}

        {{#each cards}}
        <div class="col-4">
            <div class="card mt-5">
                <img src="{{image}}" class="card-img-top" alt="{{alt}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    {{#if isHot}}
                    <button class="alert-success rounded-pill">HOT</button>
                    {{/if}}
                    {{#if isNew}}
                    <button class="alert-danger rounded-pill">Нове</button>
                    {{/if}}
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </div>
    <hr>


    {{#with subscribe}}
    <div class="card text-bg-dark">
        <nav class=" nav row">
            <div class="col-12 ">
                <h2 class="card-title ms-3 mt-3">{{header}}</h2>
                <p class="card-text ms-3">{{description}}</p>
                <ul class=" nav justify-content-end">
                    <li class="d-flex pb-5 ">
                        {{#each buttons}}
                        <a href="{{link}}" class="btn btn-primary me-2">{{text}}</a>
                        {{/each}}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{/with}}

    <hr>

    {{#with service}}
    <div class="card text-center text-bg-warning">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">{{description}}</p>
        {{#each buttons}}
        <a href="{{link}}" class="btn btn-link">{{text}}</a>
        {{/each}}
    </div>
    {{/with}}
    <hr>


    {{#each footer}}
    <div class="row">
        {{#each this}}
        <div class="col-3">
            <a href="{{link}}" class="btn btn-link">{{text}}</a>
        </div>
        {{/each}}
    </div>
    {{/each}}

</main>