<main>
    <section>
        {{#with page_header}}
        <figure class="text-center">
            <blockquote class="blockquote">
                <h1>{{title}}</h1>
                <p>{{description}}</p>
            </blockquote>
        </figure>
        {{/with}}
        {{#with section}}
        <div class="card">
            <div class="card-body">
                <figure class="text-end">
                    {{#with about_us}}
                    {{#with title_list}}
                    <h1 class="display-6">{{main}}</h1>
                    <p class="h2">{{sub}}</p>
                    {{/with}}
                </figure>
                <button type="button" class="btn btn-outline-info">{{button.text}}</button>
                {{/with}}
            </div>
        </div>
        {{#with advantage}}
        <div class="card">
            <div class="card-body">
                <h1 class="display-5">{{title}}</h1>
                {{#with efficiency}}
                <div class="card">
                    <div class="card-body">
                        <h1 class="display-4">{{title}}</h1>
                        <h6>{{sub_title}}</h6>
                        <p>{{description}}</p>
                        <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    </div>
                </div>
                {{/with}}
                {{#with innovation}}
                <div class="card">
                    <div class="card-body">
                        <figure class="text-center">
                            <h1 class="display-4">{{title}}</h1>
                            <h6>{{sub_title}}</h6>
                            <p>{{description}}</p>
                        </figure>
                        <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    </div>
                </div>
                {{/with}}
                {{#with collaboration}}
                <div class="card">
                    <div class="card-body">
                        <figure class="text-end">
                            <h1 class="display-4">{{title}}</h1>
                            <h6>{{sub_title}}</h6>
                            <p>{{description}}</p>
                        </figure>
                        <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
        {{/with}}
        {{#with agreement}}
        <div class="card">
            <div class="card-body">
                <h1 class="display-4">{{title}}</h1>
                {{#with info}}
                <div class="card">
                    <div class="card-body">
                        <h5>{{sub_title}}</h5>
                        {{#with detail}}
                        <div class="card">
                            <div class="card-body">
                                <p>{{text}}</p>
                                <button type="button" class="btn btn-success">{{button}}</button>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
        {{/with}}
        {{/with}}
    </section>
</main>