<main>
    <div class="row gy-5">
        <section class="col-3">
            <div class="card ">
                {{#with navigation}}
                {{#each links}}
                <div class="list-group list-group-flush">
                    <div class="list-group-item ">
                        <a href="{{href}}" class="btn btn-link">{{text}}</a>
                    </div>
                </div>
                {{/each}}
                {{#with button}}
                <div class="list-group">
                    <div class="list-group-item">
                        <button href="{{href}}" class="btn btn-primary">{{text}}</button>
                    </div>
                </div>
                {{/with}}
                {{/with}}
            </div>
        </section>
    </div>
    <hr>
    <section>
        {{#with header}}
        <h1>{{title}}</h1>
        <p>{{ description}}</p>
        {{#with button}}
        <button href="{{link}}">{{text}}</button>
        {{/with}}
        {{/with}}
    </section>
    <hr>
    <section class="col-6">
        {{#with city}}
        <h2>{{title}}</h2>
        {{#each cards}}
        <div class="card">
            {{#with picture}}
            <img src="{{src}}" class="card-img-top" alt="{{alt}}">
            {{/with}}
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                {{#with button}}
                <button href="{{href}}" class="btn btn-primary">{{text}}</button>
                {{/with}}
            </div>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with winner}}
        <h2>{{title}}</h2>
        {{#with table}}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        {{head}}
                    </th>
                </tr>
            </thead>
            {{#each user}}
            <tbody>
                <tr>
                    <th>{{place}}</th>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        {{/with}}
        {{/with}}
    </section>
    <hr>
    <section class="col-3">
        <div class="card ">
            {{#with gallery}}
            <h2>{{title}}</h2>
            {{#each cards}}
            <div class="card-header">
                <div>{{name}}</div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item  ">
                    {{items}}
                </li>
            </ul>
            {{/each}}
            {{/with}}
        </div>
    </section>
    <hr>
    <section>
        {{#with relaxion}}
        <h1 class="display-3">{{title}}</h1>
        {{#each cards}}
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">{{header}}</div>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with rest}}
        {{#each cards}}
        <div class="card text-center">
            <div class="card-header">
                {{header}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="#" class="btn btn-primary">{{button}}</a>
            </div>
            <div class="card-footer text-body-secondary">
                {{footer}}
            </div>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with proposition}}
        <h1 class="display-2">{{title}}</h1>
        {{#each card}}
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">{{header}}</div>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with footer}}
        <h5>{{title}}</h5>
        {{#each navigation}}
        <button type="button" class="btn btn-outline-light" href="{{href}}">{{text}}</button>
        {{/each}}
        {{#each socialMedia}}
        <button type="button" class="btn btn-outline-dark" href="{{link}}">{{name}}</button>
        {{/each}}
        {{#each partners}}
        <button type="button" class="btn btn-outline-info" href="{{link}}">{{name}}</button>
        {{/each}}
        {{/with}}
    </section>
</main>